body, html {
  height: 100%;
  margin: 0;
  font: 400 12px/1.8 "Lato", sans-serif;
  color: whitesmoke;
}

.bgimg {
  height: 100%;
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  color: white;
  padding: 5px;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
   padding: 3px;
}

a:link:hover {
background-color: grey;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 10px;
  font-size: 3em;
}

#clockbox {
  font: Arial;
  font-size: 5em;
  color: white;
}